/*********/
body {
  margin: 0;
  padding: 0;
  background: #f6f1eb;
}
* {
 box-sizing: border-box; 
}
a {
  text-decoration: none;
}
p{
  max-height: 9999px;
}
.top {
  width: 10rem;
  height: 1.30666667rem;
  line-height: 1.30666667rem;
  font-size: 20px;
  background: #393a3f;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 auto;
}
[data-dpr="1"] .top {
  width: 4.6875rem;
  height: 0.6125rem;
  line-height: 0.6125rem;
  font-size: 40px;
}
[data-dpr="2"] .top {
  font-size: 40px;
}
[data-dpr="2.5"] .top {
  font-size: 50px;
}
[data-dpr="2.75"] .top {
  font-size: 55px;
}
[data-dpr="3"] .top {
  font-size: 60px;
}
[data-dpr="4"] .top {
  font-size: 80px;
}
.top span {
  position: absolute;
  top: 0.4rem;
  width: 0.66666667rem;
  height: 0.66666667rem;
  left: 0.4rem;
  display: block;
}
[data-dpr="1"] .top span {
  top: 0.1875rem;
  width: 0.3125rem;
  height: 0.3125rem;
  left: 0.1875rem;
}
.top span img {
  width: 0.26666667rem;
  height: 0.46666667rem;
  vertical-align: top;
}
[data-dpr="1"] .top span img {
  width: 0.125rem;
  height: 0.21875rem;
}
.title_inform {
  width: 10rem;
  height:1.5rem;
  padding:0.4rem 0.4rem 0;
  font-size: 16px;
  color: #010101;
  background: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}
[data-dpr="1"] .title_inform {
  width: 4.6875rem;
  height: 0.704rem;
  padding:0.1875rem 0.1875rem 0;
  font-size: 32px;
}
[data-dpr="2"] .title_inform {
  font-size: 32px;
}
[data-dpr="2.5"] .title_inform {
  font-size: 40px;
}
[data-dpr="2.75"] .title_inform {
  font-size: 44px;
}
[data-dpr="3"] .title_inform {
  font-size: 48px;
}
[data-dpr="4"] .title_inform {
  font-size: 64px;
}
.top_limit {
  font-size: 14px;
  margin-left: 0.66666667rem;
  margin-right: 0.66666667rem;
  margin-top: 0.8rem;
  color: #9b9b9b;
  text-align: center;
  height: auto;
  overflow: hidden; 
}
[data-dpr="2"] .top_limit {
  font-size: 28px;
}
[data-dpr="2.5"] .top_limit {
  font-size: 35px;
}
[data-dpr="2.75"] .top_limit {
  font-size: 38.5px;
}
[data-dpr="3"] .top_limit {
  font-size: 42px;
}
[data-dpr="4"] .top_limit {
  font-size: 56px;
}
[data-dpr="1"] .top_limit {
	font-size: 28px;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  margin-top: 0.3755rem;
}
.top_limit p {
  float: left;
}
.top_limit .p_right {
  float: right;
}
.top_limit span {
  display: block;
  color: #363636;
  font-size: 16px;
  margin-top: 0.4rem;
}
[data-dpr="1"] .top_limit span {
  font-size: 32px;
  margin-top: 0.1875rem;
}
[data-dpr="2"] .top_limit span {
  font-size: 32px;
}
[data-dpr="2.5"] .top_limit span {
  font-size: 40px;
}
[data-dpr="2.75"] .top_limit span {
  font-size: 44px;
}
[data-dpr="3"] .top_limit span {
  font-size: 48px;
}
[data-dpr="4"] .top_limit span {
  font-size: 64px;
}
/*资金损失*/
.div_selectaccount {
  width: 10rem;
  color: #666;
  height: auto;
  overflow: hidden;
  border-bottom: 2px solid #ccc;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}
[data-dpr="1"] .div_selectaccount {
  width: 4.6875rem;
}
.div_selectaccount .p_title {
  padding-left: 0.33333333rem;
  font-size: 16px;
}
[data-dpr="1"] .div_selectaccount .p_title {
  padding-left: 0.15625rem;
  font-size: 32px;
}
[data-dpr="2"] .div_selectaccount .p_title {
  font-size: 32px;
}
[data-dpr="2.5"] .div_selectaccount .p_title {
  font-size: 40px;
}
[data-dpr="2.75"] .div_selectaccount .p_title {
  font-size: 44px;
}
[data-dpr="3"] .div_selectaccount .p_title {
  font-size: 48px;
}
[data-dpr="4"] .div_selectaccount .p_title {
  font-size: 64px;
}
.div_selectaccount .p_title span {
  font-size: 12px;
  color: #9b9b9b;
}
[data-dpr="1"] .div_selectaccount .p_title span {
  font-size: 24px;
}
[data-dpr="2"] .div_selectaccount .p_title span {
  font-size: 24px;
}
[data-dpr="2.5"] .div_selectaccount .p_title span {
  font-size: 30px;
}
[data-dpr="2.75"] .div_selectaccount .p_title span {
  font-size: 33px;
}
[data-dpr="3"] .div_selectaccount .p_title span {
  font-size: 36px;
}
[data-dpr="4"] .div_selectaccount .p_title span {
  font-size: 48px;
}
.div_selectaccount .select_meal {
  border-top: 2px solid #cccccc; 
  margin-top: 0.13333333rem;
  height: 1.2rem;
  padding-top: 0.2rem;
  margin-left: 0.33333333rem;
  margin-right: 0.33333333rem;
  padding-bottom: 0.26666667rem;
  padding-left: 0.26666667rem;
  width: 10rem;
}
[data-dpr="1"] .div_selectaccount .select_meal {
  margin-top: 0.0625rem;
  height: 0.5625rem;
  padding-top: 0.09375rem;
  margin-left: 0.15625rem;
  margin-right: 0.15625rem;
  padding-bottom: 0.125rem;
  padding-left: 0.125rem;
  width: 4.6875rem;
}
.div_selectaccount .select_meal .p_tc {
  float: left;
  color: #1f1e1e;
  width: 2.26666667rem;
  font-size: 14px;
  margin-top: 0.14666667rem;
}
[data-dpr="1"] .div_selectaccount .select_meal .p_tc {
  width: 1.0625rem;
  font-size: 28px;
   margin-top: 0.06875rem;
}
[data-dpr="2"] .div_selectaccount .select_meal .p_tc {
  font-size: 28px;
}
[data-dpr="2.5"] .div_selectaccount .select_meal .p_tc {
  font-size: 35px;
}
[data-dpr="2.75"] .div_selectaccount .select_meal .p_tc {
  font-size: 38.5px;
}
[data-dpr="3"] .div_selectaccount .select_meal .p_tc {
  font-size: 42px;
}
[data-dpr="4"] .div_selectaccount .select_meal .p_tc {
  font-size: 56px;
} 
.div_selectaccount .select_meal .selected {
  float: left;
  width: 6.93333333rem;
  font-size: 12px;
  color: #666;
}
[data-dpr="1"] .div_selectaccount .select_meal .selected {
  width: 3.25rem;
  font-size: 24px;
}
[data-dpr="2"] .div_selectaccount .select_meal .selected {
  font-size: 24px;
}
[data-dpr="2.5"] .div_selectaccount .select_meal .selected {
  font-size: 30px;
}
[data-dpr="2.75"] .div_selectaccount .select_meal .selected {
  font-size: 33px;
}
[data-dpr="3"] .div_selectaccount .select_meal .selected {
  font-size: 36px;
}
[data-dpr="4"] .div_selectaccount .select_meal .selected {
  font-size: 48px;
}
.div_selectaccount .selected .div_option {
  border: 2px solid #439df9;
  height: 0.77333333rem;
  line-height: 0.77333333rem;
  border-width: 0.02666667rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
}
[data-dpr="1"] .div_selectaccount .selected .div_option {
  height: 0.3625rem;
  line-height: 0.3625rem;
  border-width: 0.0125rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.div_selectaccount .selected ul {
  list-style: none;
  display: none;
  position: absolute;
  z-index: 100;
  background: #fff;
  border: 2px solid #439df9;
  border-width: 0.02666667rem;
  border-top: none;
  padding-bottom: 0.13333333rem;
  width: 6.93333333rem;
  padding-top: 0.16rem;
}
[data-dpr="1"] .div_selectaccount .selected ul {
  border-width: 0.0125rem;
  padding-bottom: 0.0625rem;
  width: 3.25rem;
  padding-top: 0.075rem;
}
.div_selectaccount .selected ul li {
  height: 0.90666667rem;
  line-height: 0.90666667rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
}
[data-dpr="1"] .div_selectaccount .selected ul li {
  height: 0.425rem;
  line-height: 0.425rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.div_selectaccount .selected ul li.hover {
  background: #d9ebff;
}
.div_selectaccount .selected .sp_data {
  display: inline-block; 
  width: 33%;  
} 
.div_selectaccount .selected .sp_money {
  display: inline-block;
  width:30%;
  text-align: right; 
}
.div_selectaccount .selected .sp_give{
	display: inline-block;
  width:27%;
  color: #fa9f27; 
}
.div_selectaccount .selected .sp_downico {
  display: inline-block;
  margin-left: 0rem;
  height: 0.14666667rem;
  width: 0.21333333rem; 
  vertical-align: middle;
  background: url(../images/select_icodown.png);
  background-size: cover;
}
[data-dpr="1"] .div_selectaccount .selected .sp_downico {
  margin-left: 0.125rem;
  height: 0.06875rem;
  width: 0.1rem;
}
.div_selectaccount .selected ul li .sp_downico {
  background: none;
} 
 
/*保障功能*/
.security {
  width: 10rem;
  margin-top: 0.26666667rem;
  height: auto;
  overflow: hidden;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}
[data-dpr="1"] .security {
  width: 4.6875rem;
  margin-top: 0.125rem;
}
.security .p_title {
  padding-left: 0.4rem;
  padding-top: 0.26666667rem;
  line-height: 0.8rem;
  font-size: 16px;
  color: #666;
  position: relative;
}
[data-dpr="1"] .security .p_title {
  padding-left: 0.1875rem;
  padding-top: 0.125rem;
  line-height: 0.375rem;
  font-size: 32px;
}
[data-dpr="2"] .security .p_title {
  font-size: 32px;
}
[data-dpr="2.5"] .security .p_title {
  font-size: 40px;
}
[data-dpr="2.75"] .security .p_title {
  font-size: 44px;
}
[data-dpr="3"] .security .p_title {
  font-size: 48px;
}
[data-dpr="4"] .security .p_title {
  font-size: 64px;
}
.security .p_border {
  width: 10rem;
  padding-left: 0.33333333rem;
  padding-right: 0.33333333rem;
}
[data-dpr="1"] .security .p_border {
  width: 4.6875rem;
}
[data-dpr="1"] .security .p_border {
  padding-left: 0.15625rem;
  padding-right: 0.15625rem;
}
.security .p_border .sp_leftborder {
  width: 40%;
  height: 0.05333333rem;
  display: block;
  background: #439df9;
  float: left;
}
[data-dpr="1"] .security .p_border .sp_leftborder {
  height: 0.025rem;
}
.security .p_border .sp_rightborder {
  width: 60%;
  height: 0.05333333rem;
  display: block;
  background: #ccc;
  float: right;
}
[data-dpr="1"] .security .p_border .sp_rightborder {
  height: 0.025rem;
}
.security ul {
  width: 10rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  height: auto;
  overflow: hidden;
  list-style: none;
}
[data-dpr="1"] .security ul {
  width: 4.6875rem;
  margin-top: 0.1875rem;
  margin-bottom: 0.1875rem;
}
.security ul li {
  float: left;
  width: 33.33%;
  text-align: center;
  color: #404040;
  font-size: 13px;
  border-right: 2px solid #ccc;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
}
[data-dpr="2"] .security ul li {
  font-size: 26px;
}
[data-dpr="2.5"] .security ul li {
  font-size: 32.5px;
}
[data-dpr="2.75"] .security ul li {
  font-size: 35.75px;
}
[data-dpr="3"] .security ul li {
  font-size: 39px;
}
[data-dpr="4"] .security ul li {
  font-size: 52px;
}
[data-dpr="1"] .security ul li {
	font-size: 26px;
  padding-top: 0.1875rem;
  padding-bottom: 0.140rem;
}
.security ul li:last-child {
  border: none;
}
.security ul li img {
  width: 0.88rem;
  height: 0.94666667rem;
}
[data-dpr="1"] .security ul li img {
  width: 0.4125rem;
  height: 0.44375rem;
}
.security ul li p {
  line-height: 0.53333333rem;
  margin-top: 0.26666667rem;
}
[data-dpr="1"] .security ul li p {
  line-height: 0.25rem;
  margin-top: 0.125rem;
}
.security .p_info {
  font-size: 14px;
  margin-left: 0.33333333rem;
  margin-right: 0.33333333rem; 
  padding-bottom: 0.26666667rem;
  color: #999;
  line-height: 0.53333333rem;
  text-align: justify;
  text-justify: distribute-all-lines; 
}
[data-dpr="1"] .security .p_info {
  font-size: 28px;
  margin-left: 0.15625rem;
  margin-right: 0.15625rem; 
  padding-bottom: 0.125rem;
  line-height: 0.25rem;
}
[data-dpr="2"] .security .p_info {
  font-size: 28px;
}
[data-dpr="2.5"] .security .p_info {
  font-size: 35px;
}
[data-dpr="2.75"] .security .p_info {
  font-size: 38.5px;
}
[data-dpr="3"] .security .p_info {
  font-size: 42px;
}
[data-dpr="4"] .security .p_info {
  font-size: 56px;
} 
/*保障须知*/
.secur_notice .p_title {
  padding-top: 0rem;
}
[data-dpr="1"] .secur_notice .p_title {
  padding-top: 0rem;
}
.secur_notice .sp_ico {
  background: url(../images/down_ico.png) no-repeat;
  background-size: cover;
  width: 0.4rem;
  height: 0.21333333rem;
  display: block;
  position: absolute;
  right: 0.66666667rem;
  top: 0.4rem;
}
[data-dpr="1"] .secur_notice .sp_ico {
  width: 0.1875rem;
  height: 0.1rem;
  right: 0.3125rem;
  top: 0.1875rem;
}
.security .secur_noticeinfo {
  padding: 0.4rem;
  width: 10rem;
  height: auto;
  overflow: hidden;
  display: none;
}
[data-dpr="1"] .security .secur_noticeinfo {
  padding:0.1875rem;
  width: 4.6875rem;
}
.security .secur_noticeinfo .p_list {
  line-height: 0.6rem;
  font-size: 14px;
  color: #676767;
  float: left;
  text-align: justify;
  text-justify: distribute-all-lines;
}
[data-dpr="1"] .security .secur_noticeinfo .p_list {
  line-height: 0.28125rem;
  font-size: 28px;
}
[data-dpr="2"] .security .secur_noticeinfo .p_list {
  font-size: 28px;
}
[data-dpr="2.5"] .security .secur_noticeinfo .p_list {
  font-size: 35px;
}
[data-dpr="2.75"] .security .secur_noticeinfo .p_list {
  font-size: 38.5px;
}
[data-dpr="3"] .security .secur_noticeinfo .p_list {
  font-size: 42px;
}
[data-dpr="4"] .security .secur_noticeinfo .p_list {
  font-size: 56px;
}
.security a{
	color:#007AFF;
}
.security .dl_faq {
  font-size: 14px;
}
[data-dpr="1"] .security .dl_faq {
  font-size: 28px;
}
[data-dpr="2"] .security .dl_faq {
  font-size: 28px;
}
[data-dpr="2.5"] .security .dl_faq {
  font-size: 35px;
}
[data-dpr="2.75"] .security .dl_faq {
  font-size: 38.5px;
}
[data-dpr="3"] .security .dl_faq {
  font-size: 42px;
}
[data-dpr="4"] .security .dl_faq {
  font-size: 56px;
}
.security .dl_faq dt {
  padding-left: 0.2rem;
  margin-top: 0.13333333rem;
  line-height: 0.6rem;
  max-height: 13.32rem;
}
[data-dpr="1"] .security .dl_faq dt {
  padding-left: 0.09375rem;
  margin-top: 0.0625rem;
  line-height: 0.28125rem;
  max-height: 6.24375rem;
}
.security .dl_faq dt .sp1 {
  display: inline-block;
  float: left;
  width: 0.26666667rem;
  height: 0.26666667rem;
  border-radius: 0.13333333rem;
  margin-top: 0.13333333rem;
  background: #999;
}
[data-dpr="1"] .security .dl_faq dt .sp1 {
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
  margin-top: 0.0625rem;
}
.security .dl_faq dt .sp_2 {
  float: left;
  display: inline-block;
  width: 8.53333333rem;
  margin-left: 0.12rem;
}
[data-dpr="1"] .security .dl_faq dt .sp_2 {
  width: 4rem;
  margin-left: 0.05625rem;
}
.security .dl_faq dd {
  padding-left: 0.53333333rem;
  max-height: 13.32rem;
  line-height: 0.6rem;
  color: #999;
  display: block;
  height: auto;
  overflow: hidden;
  text-align: justify;
  text-justify: distribute-all-lines;
}
[data-dpr="1"] .security .dl_faq dd {
  padding-left: 0.25rem;
  max-height: 6.24375rem;
  line-height: 0.28125rem;
}
.security .secur_noticeinfo .p_paytitle {
  background: #c2e43f;
  color: #fff;
  height: 0.72rem;
  line-height: 0.72rem;
  padding-left: 0.4rem;
  font-size: 14px;
}
[data-dpr="1"] .security .secur_noticeinfo .p_paytitle {
  height: 0.3375rem;
  line-height: 0.3375rem;
  padding-left: 0.1875rem;
  font-size: 28px;
}
[data-dpr="2"] .security .secur_noticeinfo .p_paytitle {
  font-size: 28px;
}
[data-dpr="2.5"] .security .secur_noticeinfo .p_paytitle {
  font-size: 35px;
}
[data-dpr="2.75"] .security .secur_noticeinfo .p_paytitle {
  font-size: 38.5px;
}
[data-dpr="3"] .security .secur_noticeinfo .p_paytitle {
  font-size: 42px;
}
[data-dpr="4"] .security .secur_noticeinfo .p_paytitle {
  font-size: 56px;
}
.security .secur_noticeinfo .p_paytitletwo {
  background: #fff183;
  color: #d57000;
  height: 0.72rem;
  line-height: 0.72rem;
  padding-left: 0.4rem;
  margin-top: 0.66666667rem;
  font-size: 14px;
}
[data-dpr="1"] .security .secur_noticeinfo .p_paytitletwo {
  height: 0.3375rem;
  line-height: 0.3375rem;
  padding-left: 0.1875rem;
  margin-top: 0.3125rem;
  font-size: 28px;
}
[data-dpr="2"] .security .secur_noticeinfo .p_paytitletwo {
  font-size: 28px;
}
[data-dpr="2.5"] .security .secur_noticeinfo .p_paytitletwo {
  font-size: 35px;
}
[data-dpr="2.75"] .security .secur_noticeinfo .p_paytitletwo {
  font-size: 38.5px;
}
[data-dpr="3"] .security .secur_noticeinfo .p_paytitletwo {
  font-size: 42px;
}
[data-dpr="4"] .security .secur_noticeinfo .p_paytitletwo {
  font-size: 56px;
}
.security .secur_noticeinfo .pay_flow {
  margin-top: 0.8rem;
  width: 10rem;
  height: auto;
  overflow: hidden;
}
[data-dpr="1"] .security .secur_noticeinfo .pay_flow {
  margin-top: 0.375rem;
  width: 4.6875rem;
}
.security .secur_noticeinfo .p_img {
  float: left;
  width: 24%;
}
.security .secur_noticeinfo .p_img img {
  width: 2.4rem;
  height: 2.4rem;
}
[data-dpr="1"] .security .secur_noticeinfo .p_img img {
  width: 1.125rem;
  height: 1.125rem;
}
.security .secur_noticeinfo .p_count {
  float: left;
  width: 63%;
  margin-top: 0.26666667rem;
  font-size: 14px;
  margin-left: 0.4rem;
  color: #676767;
  line-height: 0.6rem;
   text-align: justify;
  text-justify: distribute-all-lines;
  word-break:break-all; 
}
[data-dpr="1"] .security .secur_noticeinfo .p_count {
  margin-top: 0.125rem;
  font-size: 28px;
}
[data-dpr="2"] .security .secur_noticeinfo .p_count {
  font-size: 28px;
}
[data-dpr="2.5"] .security .secur_noticeinfo .p_count {
  font-size: 35px;
}
[data-dpr="2.75"] .security .secur_noticeinfo .p_count {
  font-size: 38.5px;
}
[data-dpr="3"] .security .secur_noticeinfo .p_count {
  font-size: 42px;
}
[data-dpr="4"] .security .secur_noticeinfo .p_count {
  font-size: 56px;
}
[data-dpr="1"] .security .secur_noticeinfo .p_count {
  margin-left: 0.1875rem;
  line-height: 0.28125rem;
}
.security .secur_noticeinfo .p_small {
  font-size: 12px;
  width: 63%;
  color: #676767;
  line-height:0.5rem;
  float: left;
  margin-left: 0.4rem;
}
[data-dpr="2"] .security .secur_noticeinfo .p_small {
  font-size: 24px;
}
[data-dpr="2.5"] .security .secur_noticeinfo .p_small {
  font-size: 30px;
}
[data-dpr="2.75"] .security .secur_noticeinfo .p_small {
  font-size: 33px;
}
[data-dpr="3"] .security .secur_noticeinfo .p_small {
  font-size: 36px;
}
[data-dpr="4"] .security .secur_noticeinfo .p_small {
  font-size: 48px;
}
[data-dpr="1"] .security .secur_noticeinfo .p_small {
	font-size: 24px;
  line-height: 0.3rem;
  margin-left: 0.1875rem;
}
.seal_square {
  width: 10rem;
  margin-top: 0.26666667rem;
  background: #fff;
  border-bottom: 2px solid #ccc;
  padding:0.4rem;
  margin-bottom: 1.77333333rem;
  color: #909090;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}
[data-dpr="1"] .seal_square {
  width: 4.6875rem;
  margin-top: 0.125rem;
  margin-bottom: 0.83125rem;
  padding: 0.1875rem;
  font-size: 24px;
}
[data-dpr="2"] .seal_square {
  font-size: 24px;
}
[data-dpr="2.5"] .seal_square {
  font-size: 30px;
}
[data-dpr="2.75"] .seal_square {
  font-size: 33px;
}
[data-dpr="3"] .seal_square {
  font-size: 36px;
}
[data-dpr="4"] .seal_square {
  font-size: 48px;
}
.seal_square .checkbox {
  margin-top: 0.26666667rem;
  height: 0.37333333rem;
  line-height: 0.37333333rem;
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: #666;
}
[data-dpr="1"] .seal_square .checkbox {
  margin-top: 0.125rem;
  height: 0.175rem;
  line-height: 0.175rem;
  width: 1.875rem;
}
.checkboxFour {
  width: 0.42666667rem;
  height: 0.42666667rem;
  float: left;
  margin-right: 0.13333333rem;
}
[data-dpr="1"] .checkboxFour {
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.0625rem;
}
.checkboxFour label {
  display: block;
  width: 0.42666667rem;
  height: 0.42666667rem;
  background: url(http://192.168.1.74:8020/www/h5/appPlayShualess/images/check_icogray.png);
  background-size: cover;
  margin-top: -0.34666667rem;
}
[data-dpr="1"] .checkboxFour label {
  width: 0.2rem;
  height: 0.2rem;
  margin-top: -0.1625rem;
}
.checkboxFour input[type=checkbox]:checked + label {
  background: url(../images/check_icogreen.png);
  width: 0.42666667rem;
  height: 0.42666667rem;
  margin-top: -0.34666667rem;
  background-size: cover;
}
[data-dpr="1"] .checkboxFour input[type=checkbox]:checked + label {
  width: 0.2rem;
  height: 0.2rem;
  margin-top: -0.1625rem;
}
.seal_square .sp_info {
  float: left;
  display: block;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  margin-top: 0rem;
}
[data-dpr="1"] .seal_square .sp_info {
  height: 0.2rem;
  line-height: 0.2rem;
  margin-top: 0rem;
}
.foot {
  width: 10rem;
  height: 1.50666667rem;
  position: fixed;
  background: #fff;
  border-top: 2px solid #ccc;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  margin-left: auto;
  margin-right: auto;
}
[data-dpr="1"] .foot {
  width: 4.6875rem;
  height: 0.70625rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}
.foot .p_left {
  float: left;
  font-size: 14px;
  color: #439df9;
  padding-top: 0.48rem;
  padding-left: 0.66666667rem;
}
[data-dpr="1"] .foot .p_left {
  font-size: 28px;
}
[data-dpr="2"] .foot .p_left {
  font-size: 28px;
}
[data-dpr="2.5"] .foot .p_left {
  font-size: 35px;
}
[data-dpr="2.75"] .foot .p_left {
  font-size: 38.5px;
}
[data-dpr="3"] .foot .p_left {
  font-size: 42px;
}
[data-dpr="4"] .foot .p_left {
  font-size: 56px;
}
[data-dpr="1"] .foot .p_left {
  padding-top: 0.225rem;
  padding-left: 0.3125rem;
}
.foot .p_right a {
  float: right;
  background: #439df9;
  font-size: 14px;
  width: 3.73333333rem;
  padding-top: 0.48rem;
  text-align: center;
  height: 1.50666667rem;
  color: #fff;
}
[data-dpr="1"] .foot .p_right a {
  font-size: 28px;
}
[data-dpr="2"] .foot .p_right a {
  font-size: 28px;
}
[data-dpr="2.5"] .foot .p_right a {
  font-size: 35px;
}
[data-dpr="2.75"] .foot .p_right a {
  font-size: 38.5px;
}
[data-dpr="3"] .foot .p_right a {
  font-size: 42px;
}
[data-dpr="4"] .foot .p_right a {
  font-size: 56px;
}
[data-dpr="1"] .foot .p_right a {
  width: 1.75rem;
  padding-top: 0.225rem;
  height: 0.70625rem;
}
.foot .p_right a:link {
  background: #439df9;
}
.foot .p_right a:visited {
  background: #439df9;
}
.foot .p_right a:active {
  background: #439df9;
}
.mask_box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 110;
  display: none;
}
.bx_clause {
  width: 8.66666667rem;
  height: 10.66666667rem;
  overflow-y: auto;
  margin-left: -0.26666667rem;
  margin-top: -0.53333333rem;
  border-radius: 0.06666667rem;
  padding: 0.26666667rem;
  background: #fff;
  position: fixed;
  z-index: 111;
  display: none;
  font-size: 12px;
  scrollbar-face-color: #fff;
}
[data-dpr="1"] .bx_clause {
  width: 4.0625rem;
  height: 5rem;
  margin-left: -0.125rem;
  margin-top: -0.25rem;
  border-radius: 0.03125rem;
  padding: 0.125rem;
  font-size: 24px;
}
[data-dpr="2"] .bx_clause {
  font-size: 24px;
}
[data-dpr="2.5"] .bx_clause {
  font-size: 30px;
}
[data-dpr="2.75"] .bx_clause {
  font-size: 33px;
}
[data-dpr="3"] .bx_clause {
  font-size: 36px;
}
[data-dpr="4"] .bx_clause {
  font-size: 48px;
}
.bx_clause h3,
.bx_clause h2 {
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}
[data-dpr="1"] .bx_clause h3,
[data-dpr="1"] .bx_clause h2 {
  font-size: 24px;
}
[data-dpr="2"] .bx_clause h3,
[data-dpr="2"] .bx_clause h2 {
  font-size: 24px;
}
[data-dpr="2.5"] .bx_clause h3,
[data-dpr="2.5"] .bx_clause h2 {
  font-size: 30px;
}
[data-dpr="2.75"] .bx_clause h3,
[data-dpr="2.75"] .bx_clause h2 {
  font-size: 33px;
}
[data-dpr="3"] .bx_clause h3,
[data-dpr="3"] .bx_clause h2 {
  font-size: 36px;
}
[data-dpr="4"] .bx_clause h3,
[data-dpr="4"] .bx_clause h2 {
  font-size: 48px;
}
.bx_clause h2 {
  font-size: 14px;
  line-height: 0.93333333rem;
}
[data-dpr="1"] .bx_clause h2 {
  font-size: 28px;
  line-height: 0.4375rem;
}
[data-dpr="2"] .bx_clause h2 {
  font-size: 28px;
}
[data-dpr="2.5"] .bx_clause h2 {
  font-size: 35px;
}
[data-dpr="2.75"] .bx_clause h2 {
  font-size: 38.5px;
}
[data-dpr="3"] .bx_clause h2 {
  font-size: 42px;
}
[data-dpr="4"] .bx_clause h2 {
  font-size: 56px;
}

.bx_clause .p_center {
  text-align: center;
}
.bx_clause p {
  text-indent: 0.53333333rem;
  line-height: 0.66666667rem;
}
[data-dpr="1"] .bx_clause p {
  text-indent: 0.25rem;
  line-height: 0.3125rem;
}
.bx_clause p .sp_font {
  font-weight: bolder;
}
.getmform {
  padding-bottom: 0.66666667rem;
}
[data-dpr="1"] .getmform {
  padding-bottom: 0.3125rem;
}
.getmform .con {
  border: 2px solid #ccc;
  border-radius: 0.06666667rem;
  padding-left: 0.13333333rem;
  padding-right: 0.13333333rem;
  width: 9.06666667rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
}
[data-dpr="1"] .getmform .con {
  border-radius: 0.03125rem;
  padding-left: 0.0625rem;
  padding-right: 0.0625rem;
  width: 4.25rem;
  height: 0.55rem;
  line-height: 0.55rem;
  margin-top: 0.1875rem;
}
.getmform .con input {
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  font-size: 13px;
  padding-top: 0.26666667rem;
  padding-bottom: 0.26666667rem;
  margin-top: 0.3rem;
  width: 5.5rem;
  border: none;
}
[data-dpr="1"] .getmform .con input {
  height: 0.25rem;
  line-height: 0.25rem;
  font-size: 26px;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  margin-top: 0.1408rem;
  width: 2.58rem;
}
[data-dpr="2"] .getmform .con input {
  font-size: 26px;
}
[data-dpr="2.5"] .getmform .con input {
  font-size: 32.5px;
}
[data-dpr="2.75"] .getmform .con input {
  font-size: 35.75px;
}
[data-dpr="3"] .getmform .con input {
  font-size: 39px;
}
[data-dpr="4"] .getmform .con input {
  font-size: 52px;
}

.getmform .con .sp_number {
  float: left;
  display: inline-block;
  font-size: 13px;
  margin-right: 0.13333333rem;
}
[data-dpr="1"] .getmform .con .sp_number {
  font-size: 26px;
  margin-right: 0.0625rem;
}
[data-dpr="2"] .getmform .con .sp_number {
  font-size: 26px;
}
[data-dpr="2.5"] .getmform .con .sp_number {
  font-size: 32.5px;
}
[data-dpr="2.75"] .getmform .con .sp_number {
  font-size: 35.75px;
}
[data-dpr="3"] .getmform .con .sp_number {
  font-size: 39px;
}
[data-dpr="4"] .getmform .con .sp_number {
  font-size: 52px;
}
.getmform .con .sms_send {
  border: 2px solid #439df9;
  color: #439df9;
  text-align: center;
  width: 2rem;
  height: 0.64rem;
  line-height: 0.64rem;
  display: inline-block;
  border-radius: 0.13333333rem;
  font-size: 12px;
  float: right;
  margin-top: 0.24rem;
}
[data-dpr="1"] .getmform .con .sms_send {
  width: 0.9375rem;
  height: 0.3rem;
  line-height: 0.3rem;
  border-radius: 0.0625rem;
  font-size: 24px;
  margin-top: 0.1125rem;
}
[data-dpr="2"] .getmform .con .sms_send {
  font-size: 24px;
}
[data-dpr="2.5"] .getmform .con .sms_send {
  font-size: 30px;
}
[data-dpr="2.75"] .getmform .con .sms_send {
  font-size: 33px;
}
[data-dpr="3"] .getmform .con .sms_send {
  font-size: 36px;
}
[data-dpr="4"] .getmform .con .sms_send {
  font-size: 48px;
}
.getmform .con .graybtn {
  color: #ccc;
  text-align: center;
  border: 2px solid #ccc;
  width: 2rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  display: inline-block;
  border-radius: 0.13333333rem;
  font-size: 10px;
  float: right;
  margin-top: 0.24rem;
}
[data-dpr="1"] .getmform .con .graybtn {
  width: 0.9375rem;
  height: 0.3125rem;
  line-height: 0.3125rem;
  border-radius: 0.0625rem;
  font-size: 20px;
   margin-top: 0.1125rem;
}
[data-dpr="2"] .getmform .con .graybtn {
  font-size: 20px;
}
[data-dpr="2.5"] .getmform .con .graybtn {
  font-size: 25px;
}
[data-dpr="2.75"] .getmform .con .graybtn {
  font-size: 27.5px;
}
[data-dpr="3"] .getmform .con .graybtn {
  font-size: 30px;
}
[data-dpr="4"] .getmform .con .graybtn {
  font-size: 40px;
}
.getmform .con .graybtn a {
  color: #ccc;
}
.getmform .con .sms_send a {
  color: #ef6330;
}
.getmform .get_coupbtn,
.pay_order .get_coupbtn,
.security_ok {
  background: #439df9;
  color: #fff;
  width: 9.06666667rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.13333333rem;
  font-size: 13px;
  text-align: center;
}
[data-dpr="1"] .getmform .get_coupbtn,
[data-dpr="1"] .pay_order .get_coupbtn,
[data-dpr="1"] .security_ok {
  width: 4.25rem;
  height: 0.55rem; 
  line-height: 0.55rem;
  margin-top: 0.1875rem;
  border-radius: 0.0625rem;
  font-size: 26px;
}
[data-dpr="2"] .getmform .get_coupbtn,
[data-dpr="2"] .pay_order .get_coupbtn,
[data-dpr="2"] .security_ok {
  font-size: 26px;
}
[data-dpr="2.5"] .getmform .get_coupbtn,
[data-dpr="2.5"] .pay_order .get_coupbtn,
[data-dpr="2.5"] .security_ok {
  font-size: 32.5px;
}
[data-dpr="2.75"] .getmform .get_coupbtn,
[data-dpr="2.75"] .pay_order .get_coupbtn,
[data-dpr="2.75"] .security_ok {
  font-size: 35.75px;
}
[data-dpr="3"] .getmform .get_coupbtn,
[data-dpr="3"] .pay_order .get_coupbtn,
[data-dpr="3"] .security_ok {
  font-size: 39px;
}
[data-dpr="4"] .getmform .get_coupbtn,
[data-dpr="4"] .pay_order .get_coupbtn,
[data-dpr="4"] .security_ok {
  font-size: 52px;
}
.getmform .get_coupbtn a,
.pay_order .get_coupbtn a,
.security_ok a {
  text-decoration: none;
  display: block;
  width: 9.06666667rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  color: #fff;
}
[data-dpr="1"] .getmform .get_coupbtn a,
[data-dpr="1"] .pay_order .get_coupbtn a,
[data-dpr="1"] .security_ok a {
  width: 4.25rem;
  height: 0.55rem;
  line-height: 0.55rem;
}
.error_tips {
  width: 6.66666667rem;
  height: 5rem;
  margin-left: -0.26666667rem;
  margin-top: -0.53333333rem;
  border-radius: 0.06666667rem;
  padding: 0.26666667rem;
  background: #f2f2f2;
  position: absolute;
  z-index: 111;
  display: none;
  font-size: 12px;
  text-align: center;
}
[data-dpr="1"] .error_tips {
  width: 3.125rem;
  height: 2.34rem;
  margin-left: -0.125rem;
  margin-top: -0.25rem;
  border-radius: 0.03125rem;
  padding: 0.125rem;
  font-size: 24px;
}
[data-dpr="2"] .error_tips {
  font-size: 24px;
}
[data-dpr="2.5"] .error_tips {
  font-size: 30px;
}
[data-dpr="2.75"] .error_tips {
  font-size: 33px;
}
[data-dpr="3"] .error_tips {
  font-size: 36px;
}
[data-dpr="4"] .error_tips {
  font-size: 48px;
}
.error_tips .p_img {
  width: 1.21333333rem;
  height: 1.21333333rem; 
  margin-left: auto;
  margin-right:auto;
}
[data-dpr="1"] .error_tips .p_img {
  width: 0.56875rem;
  height: 0.56875rem;
}
.error_tips .p_img img{
  width: 1.21333333rem;
  height: 1.21333333rem;
}
[data-dpr="1"] .error_tips .p_img img{
  width: 0.56875rem;
  height: 0.56875rem;
}
.error_tips .p_info {
  margin-top: 0.83333333rem;
}
[data-dpr="1"] .error_tips .p_info {
  margin-top: 0.25rem;
}
.error_tips .p_btn {
  background: #439df9;
  color: #fff;
  width: 5.33333333rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  margin-top: 0.66666667rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.13333333rem;
  font-size: 12px;
  text-align: center;
}
[data-dpr="1"] .error_tips .p_btn {
  width: 2.5rem;
  height: 0.4375rem;
  line-height: 0.4375rem;
  margin-top: 0.3125rem;
  border-radius: 0.0625rem;
  font-size: 24px;
}
[data-dpr="2"] .error_tips .p_btn {
  font-size: 24px;
}
[data-dpr="2.5"] .error_tips .p_btn {
  font-size: 30px;
}
[data-dpr="2.75"] .error_tips .p_btn {
  font-size: 33px;
}
[data-dpr="3"] .error_tips .p_btn {
  font-size: 36px;
}
[data-dpr="4"] .error_tips .p_btn {
  font-size: 48px;
}
.pay_order {
  padding-bottom: 0.66666667rem;
}
[data-dpr="1"] .pay_order {
  padding-bottom: 0.3125rem;
}
.pay_order .p_orderinfo {
  font-size: 14px;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  width: 9.06666667rem;
  margin-top: 0.66666667rem;
  margin-left: auto;
  margin-right: auto;
}
[data-dpr="2"] .pay_order .p_orderinfo {
  font-size: 28px;
}
[data-dpr="2.5"] .pay_order .p_orderinfo {
  font-size: 35px;
}
[data-dpr="2.75"] .pay_order .p_orderinfo {
  font-size: 38.5px;
}
[data-dpr="3"] .pay_order .p_orderinfo {
  font-size: 42px;
}
[data-dpr="4"] .pay_order .p_orderinfo {
  font-size: 56px;
}
[data-dpr="1"] .pay_order .p_orderinfo {
  height: 0.25rem;
  line-height: 0.25rem;
  width: 4.25rem;
  margin-top: 0.3125rem;
  font-size: 28px;
}
.pay_order .p_orderinfo .sp_left {
  float: left;
  color: #404040;
}
.pay_order .p_orderinfo .sp_right {
  float: right;
  color: #747474;
}
.pay_order .get_coupbtn {
  margin-top: 1.2rem;
}
[data-dpr="1"] .pay_order .get_coupbtn {
  margin-top: 0.5625rem;
}
.security_info {
  padding-bottom: 0.53333333rem;
}
[data-dpr="1"] .security_info {
  padding-bottom: 0.25rem;
}
.security_info .p_orderinfo {
  margin-top: 0.4rem;
}
[data-dpr="1"] .security_info .p_orderinfo {
  margin-top: 0.1875rem;
}
.security_info .p_orderinfo .sp_left {
  float: left;
  width: 2.4rem;
  margin-left: 0.46666667rem;
}
[data-dpr="1"] .security_info .p_orderinfo .sp_left {
  width: 1.125rem;
  margin-left: 0.21875rem;
}
.security_info .p_orderinfo .sp_right {
  float: left;
  margin-left: 0.26666667rem;
}
[data-dpr="1"] .security_info .p_orderinfo .sp_right {
  margin-left: 0.125rem;
}
.security_info table {
  margin-top: 0.53333333rem;
  width: 8.53333333rem;
  font-size: 14px;
  border-top: 1px solid #439df9;
  border-right: 1px solid #439df9;
  margin-left: auto;
  margin-right: auto;
  color: #404040;
}
[data-dpr="1"] .security_info table {
  margin-top: 0.25rem; 
  width: 4rem; 
  font-size: 28px;
}
[data-dpr="2"] .security_info table {
  font-size: 28px;
}
[data-dpr="2.5"] .security_info table {
  font-size: 35px;
}
[data-dpr="2.75"] .security_info table {
  font-size: 38.5px;
}
[data-dpr="3"] .security_info table {
  font-size: 42px;
}
[data-dpr="4"] .security_info table {
  font-size: 56px;
}
.security_info table .tr_first {
  background: #d9ebff;
  height: 0.84rem;
}
[data-dpr="1"] .security_info table .tr_first {
  height: 0.39375rem;
}
.security_info table .tr_second {
  height: 1.36rem;
}
[data-dpr="1"] .security_info table .tr_second {
  height: 0.6375rem;
}
.security_info table td {
  border-bottom: 1px solid #439df9;
  border-left: 1px solid #439df9;
  text-align: center;
  vertical-align: middle;
}
.security_info table td span {
  color: #439df9;
}
.security_ok {
  margin-bottom: 0.4rem;
}
[data-dpr="1"] .security_ok {
  margin-bottom: 0.1875rem;
}
.perfect_tips {
  width: 10rem;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 0.45333333rem;
  margin-top: 0.26666667rem;
}
[data-dpr="1"] .perfect_tips {
  width: 4.6875rem; 
  font-size: 28px;
   margin-top: 0.125rem;
}
[data-dpr="2"] .perfect_tips {
  font-size: 28px;
}
[data-dpr="2.5"] .perfect_tips {
  font-size: 35px;
}
[data-dpr="2.75"] .perfect_tips {
  font-size: 38.5px;
}
[data-dpr="3"] .perfect_tips {
  font-size: 42px;
}
[data-dpr="4"] .perfect_tips {
  font-size: 56px;
}
[data-dpr="1"] .perfect_tips {
  padding-bottom: 0.2125rem;
}
.perfect_tips img {
  float: left;
  margin-left: 1.65333333rem;
  margin-top: 0.61333333rem;
  width: 1.21333333rem;
}
[data-dpr="1"] .perfect_tips img {
  margin-left: 0.775rem;
  margin-top: 0.2875rem;
  width: 0.56875rem;
  width: 0.56875rem;
}
.perfect_tips p {
  float: left;
  margin-top: 0.45333333rem;
  width: 5.26666667rem;
  margin-left: 0.76rem;
  line-height: 0.53333333rem;
  color: #666;
}
[data-dpr="1"] .perfect_tips p {
  margin-top: 0.2125rem;
  width: 2.46875rem;
  margin-left: 0.35625rem;
  line-height: 0.25rem;
}
.perfect_tips p span {
  color: #439df9;
  display: block;
  margin-bottom: 0.13333333rem;
}
[data-dpr="1"] .perfect_tips p span {
  margin-bottom: 0.0625rem;
} 
.login .p_title{text-align: center; line-height: 1.5rem; font-size:18px;}
[data-dpr="1"] .login .p_title{
 font-size:36px;
}
[data-dpr="2"] .login .p_title{
  font-size:36px;
}
[data-dpr="2.5"] .login .p_title {
 font-size:36px;
}
[data-dpr="2.75"] .login .p_title {
  font-size:38px;
}
[data-dpr="3"] .login .p_title {
 font-size:54px;
}
[data-dpr="4"] .login .p_title {
  font-size: 56px;
}
/*引导页*/ 
.guide_page{display: none; position: fixed; left:0; top:0; bottom:0; background: rgba(0,0,0,0.8); filter:alpha(opacity=80);  height: 100%; width: 100%; z-index: 111}
.guide_page .guide_intro{text-align: center;margin-top: 0.23rem;}
.guide_page img{width:10rem; height:4.746rem;}
/*订单完成确认*/
.orderok_top p{position:absolute;right:0.4rem; font-size:14px; top:0rem}
[data-dpr="1"] .orderok_top p {
    font-size: 28px;
    right:0.187rem;
}
[data-dpr="2"] .orderok_top p {
    font-size: 28px;
}
[data-dpr="2.5"] .orderok_top p {
 font-size:28px
}
[data-dpr="2.75"] .orderok_top p {
  font-size:30px
}
[data-dpr="3"] .orderok_top p {
    font-size: 42px;
}
[data-dpr="4"] .orderok_top p {
    font-size: 56px;
}
.orderok_top p a{color: #fff;}
.orderok_count{margin-top:0rem;}
[data-dpr="1"] .orderok_count{
   margin-top:0rem;
}
.orderok_pic{text-align: center; margin-top:2.24rem ; font-size:20px; color: #282828;}
[data-dpr="1"] .orderok_pic{
    font-size: 40px;
    margin-top:1.05rem ; 
}
[data-dpr="2"] .orderok_pic{
    font-size: 40px;
}
[data-dpr="2.5"] .orderok_pic{
    font-size: 40px;
}
[data-dpr="2.75"] .orderok_pic{
    font-size: 43px;
}
[data-dpr="3"] .orderok_pic{
    font-size: 60px;
}
[data-dpr="4"] .orderok_pic{
    font-size: 80px;
}
.orderok_pic img{width: 1.586rem; height:1.586rem; margin-bottom: 0.49rem;}
[data-dpr="1"] .orderok_pic img{
    width: 0.7446rem; height:0.7446rem; margin-bottom: 0.23rem;
}
.p_orderok{text-align: center; font-size: 16px; margin-top:1.8rem ; color: #686868;}
[data-dpr="1"] .p_orderok{
    font-size: 32px;
    margin-top:0.845rem ; 
}
[data-dpr="2"] .p_orderok{
    font-size: 32px;
}
[data-dpr="2.5"] .p_orderok{
    font-size: 32px;
}
[data-dpr="2.75"] .p_orderok{
    font-size: 35px;
}
[data-dpr="3"] .p_orderok{
    font-size: 48px;
}
[data-dpr="4"] .p_orderok{
    font-size: 64px;
}
