<style type="text/css" id="less:h5-tianyi-zhuanpan-css-test">/*********/
.indexbody {
  margin: 0;
  padding: 0;
  background: url(http://127.0.0.1:8020/h5/tianyi/zhuanpan/images/mainbg.jpg) #7cd8e3 no-repeat center top;
  background-size: cover;
  width: 10rem;
  height: 15rem;
  font-size: 0.5rem;
}
* {
  box-sizing: border-box;
}
p,
h2,
h3 {
  max-height: 99999px;
}
.rule {
  width: 2.328125rem;
  height: 0.78125rem;
  margin-top: 0.34375rem;
  margin-left: 0.1875rem;
}
.rule img {
  width: 100%;
  height: 100%;
}
.rotary {
  max-width: 100%;
  width: 6.421875rem;
  height: 6.421875rem;
  position: relative;
  background-image: url(http://127.0.0.1:8020/h5/tianyi/zhuanpan/images/round.png);
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
}
.rotaryArrow {
  position: absolute;
  width: 1.84375rem;
  height: 1.84375rem;
  top: 2.2890625rem;
  left: 2.2890625rem;
  cursor: pointer;
  background-image: url(http://127.0.0.1:8020/h5/tianyi/zhuanpan/images/round_btn.png);
  background-size: 100% 100%;
}
.draw {
  width: 6.28125rem;
  height: 1.40625rem;
  margin-top: 0.625rem;
  margin-left: auto;
  margin-right: auto;
}
.draw img {
  width: 100%;
  height: 100%;
}
.prize_bg {
  background-image: url(http://127.0.0.1:8020/h5/tianyi/zhuanpan/images/prize_bg.png);
  width: 7.40625rem;
  height: 3.15625rem;
  background-size: 100% 100%;
  margin-top: 1.015625rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.46875rem;
}
.prize_bg p {
  color: #002529;
  font-size: 14px;
  padding-left: 1.25rem;
  padding-top: 0.203125rem;
}
.prize_bg p span {
  padding-left: 0.390625rem;
}
.prize_result {
  width: 10rem;
  height: 1.25rem;
  background: #0e8998;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 1.09375rem;
  padding-top: 0.3125rem;
}
.divLayer,
.userinfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  display: none;
}
.divLayer .layerbg,
.userinfo .userBg {
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.divLayer .result {
  background: url(http://127.0.0.1:8020/h5/tianyi/zhuanpan/images/result_bg.png) no-repeat center;
  width: 7.8125rem;
  height: 8.984375rem;
  background-size: 100% 100%;
  z-index: 2;
  top: 2.875rem;
  left: 1.09375rem;
  position: absolute;
}
.divLayer .resultTxt {
  text-align: center;
  width: 6.5625rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  margin-top: 5.3125rem;
  font-size: 14px;
  color: #00a4de;
}
.divLayer .p_secor {
  text-align: center;
  font-size: 14px;
  color: #008000;
  margin-top: 0.15625rem;
}
.divLayer .sharebtn {
  width: 5.390625rem;
  height: 1.515625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3125rem;
  display: block;
}
.divLayer .drawBtn {
  display: none;
}
.divLayer .share_line {
  width: 10rem;
  z-index: 2;
  position: absolute;
  display: none;
}
.divLayer .share_line .imgline {
  width: 6.953125rem;
  height: 4.1875rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.6875rem;
  display: block;
}
.divLayer .share_line .imgnode {
  width: 3.984375rem;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.6875rem;
  display: block;
}
.userinfo .div_form {
  position: absolute;
  width: 10rem;
  z-index: 2;
  top: 3.90625rem;
  left: 0.875rem;
}
.userinfo .p_title {
  width: 10rem;
  top: 1.875rem;
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 2;
}
.userinfo .p_title span {
  font-size: 16px;
  font-weight: bolder;
  color: red;
}
.userinfo input {
  border: none;
  background: #fff;
  font-size: 14px;
  color: #999;
  width: 8.25rem;
  height: 1.28125rem;
  margin-top: 0.359375rem;
  padding-left: 0.390625rem;
  padding-right: 0.390625rem;
  border-radius: 8px;
}
.userinfo .submit_btn {
  background: #0bd38a;
  width: 8.25rem;
  height: 1.28125rem;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin-top: 0.78125rem;
}
.userinfo .errorInfo {
  color: #FF0000;
  font-size: 14px;
  margin-top: 0.15625rem;
  padding-left: 0.15625rem;
}
.submit_win {
  display: none;
  width: 6.25rem;
  height: 3.75rem;
  background: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 3;
  left: 1.875rem;
  top: 5.46875rem;
  border-radius: 8px;
}
.submit_win p {
  text-align: center;
  padding-left: 0.46875rem;
  padding-right: 0.46875rem;
  padding-top: 0.625rem;
  color: #666666;
  line-height: 0.546875rem;
}
.submit_win a {
  display: block;
  color: #5495fe;
  border-top: 1px solid #ccc;
  margin-top: 0.84375rem;
  text-align: center;
  text-decoration: none;
  padding-top: 0.234375rem;
  font-size: 14px;
}
.rulebody {
  margin: 0;
  padding: 0;
  background: url(http://127.0.0.1:8020/h5/tianyi/zhuanpan/images/rulebg.png) #0e8998 no-repeat center top;
  background-size: cover;
  width: 10rem;
  height: 15rem;
  font-size: 0.5rem;
  color: #fff;
}
.rule_head {
  width: 10rem;
  height: 1.09375rem;
  background: #45a6b1;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 0.3125rem;
}
.rulebody h3 {
  margin-left: 0.59375rem;
  font-size: 14px;
  margin-top: 0.46875rem;
}
.rulebody p {
  margin-left: 0.59375rem;
  margin-right: 0.59375rem;
  font-size: 12px;
  line-height: 0.703125rem;
}
.rulebody .p1 {
  margin-top: 0.46875rem;
}
.rulebody span {
  padding-left: 0.46875rem;
}
.qrcode {
  width: 2.109375rem;
  height: 2.046875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.46875rem;
}
.qrcode img {
  width: 100%;
  height: 100%;
}
.canyu {
  width: 6.28125rem;
  height: 1.40625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
  padding-bottom: 0.3125rem;
}
.canyu img {
  width: 100%;
  height: 100%;
}
</style>